In [157]:
#importing the required libraries
import sqlite3
import pandas as pd

In [256]:
#file to store the final result set
fa=open('songs.txt','a')

In [158]:
#creating a connection
conn = sqlite3.connect('chinook.db')

In [159]:
#queries to fetch data from the database tables
#playlists
q1="select * from playlists"
#playlist_track
q2="select * from playlist_track"
#tracks
q3="select * from tracks"
#albums
q4="select * from albums"
#artists
q5="select * from artists"

In [160]:
#storing the fetched data in dataframes
playlist = pd.read_sql_query(q1, conn)
playlist_track= pd.read_sql_query(q2, conn)
track= pd.read_sql_query(q3, conn)
album= pd.read_sql_query(q4, conn)
artist= pd.read_sql_query(q5, conn)

In [161]:
playlist

    PlaylistId                        Name
0            1                       Music
1            2                      Movies
2            3                    TV Shows
3            4                  Audiobooks
4            5                  90’s Music
5            6                  Audiobooks
6            7                      Movies
7            8                       Music
8            9                Music Videos
9           10                    TV Shows
10          11             Brazilian Music
11          12                   Classical
12          13   Classical 101 - Deep Cuts
13          14  Classical 101 - Next Steps
14          15  Classical 101 - The Basics
15          16                      Grunge
16          17         Heavy Metal Classic
17          18                 On-The-Go 1

In [162]:
playlist.columns

Index(['PlaylistId', 'Name'], dtype='object')

In [163]:
playlist_track

      PlaylistId  TrackId
0              1     3402
1              1     3389
2              1     3390
3              1     3391
4              1     3392
...          ...      ...
8710          17     2094
8711          17     2095
8712          17     2096
8713          17     3290
8714          18      597

[8715 rows x 2 columns]

In [164]:
track

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

In [165]:
album

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [166]:
artist

     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]

In [167]:
listfinal=[]
d={}

In [168]:
#function to create a dictionary with keys as a specific column names and values as list of table names having that column
def insert_dict(lista,tablename):
    for i in lista:
        global d
        if i not in d:
            d[i]=[]
        d[i].append(tablename)

In [169]:
#creating a list of column names in each table
listplaylist=list(playlist.columns)
listplaylisttrack=list(playlist_track.columns)
listtrack=list(track.columns)
listalbum=list(album.columns)
listartist=list(artist.columns)

In [170]:
#creating a dictionary- tables to which a column belongs to
insert_dict(listplaylist,'playlists')
insert_dict(listplaylisttrack,'playlists_track')
insert_dict(listtrack,'tracks')
insert_dict(listalbum,'albums')
insert_dict(listartist,'artists')

In [171]:
d

{'PlaylistId': ['playlists', 'playlists_track'],
 'Name': ['playlists', 'tracks', 'artists'],
 'TrackId': ['playlists_track', 'tracks'],
 'AlbumId': ['tracks', 'albums'],
 'MediaTypeId': ['tracks'],
 'GenreId': ['tracks'],
 'Composer': ['tracks'],
 'Milliseconds': ['tracks'],
 'Bytes': ['tracks'],
 'UnitPrice': ['tracks'],
 'Title': ['albums'],
 'ArtistId': ['albums', 'artists']}

In [172]:
seta=set(d['PlaylistId'])
setb=set(d['TrackId'])

In [173]:
setb

{'playlists_track', 'tracks'}

In [174]:
seta

{'playlists', 'playlists_track'}

In [175]:
setc=seta&setb

In [179]:
setc

{'playlists_track'}

In [180]:
#creating a list of all playlist ids
listPlaylistId=[]
listPlaylistId=list(playlist.PlaylistId.unique())
listPlaylistId

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [201]:
playlist_track.shape

(8715, 2)

In [210]:
#function to fetch track ids for each playlist id
def list_track_id(j):
    liste=[]
    for i in range(playlist_track.shape[0]):
        if j == playlist_track.iloc[i,0]:
            liste.append(playlist_track.iloc[i,1])
            if len(liste)>=10:
                return liste

In [217]:
#calling the above function for all playlist ids
list1=list_track_id(listPlaylistId[0])
list3=list_track_id(listPlaylistId[2])
list5=list_track_id(listPlaylistId[4])
list8=list_track_id(listPlaylistId[7])

In [218]:
list1

[3402, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397]

In [220]:
list8

[3427, 3357, 1, 6, 7, 8, 9, 10, 11, 12]

In [229]:
#creating a dictionary for playlist ids(key) with their track ids(value)
dtrack={}
dtrack[listPlaylistId[0]]=list1
dtrack[listPlaylistId[2]]=list3
dtrack[listPlaylistId[4]]=list5
dtrack[listPlaylistId[7]]=list8

In [230]:
dtrack

{1: [3402, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397],
 3: [3250, 2819, 2820, 2821, 2822, 2823, 2824, 2825, 2826, 2827],
 5: [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 8: [3427, 3357, 1, 6, 7, 8, 9, 10, 11, 12]}

In [257]:
#function to get album id and name for each track id and writing to a file
def get_track_details(lista):
    for i in range(track.shape[0]):
        for j in lista:
            if j==track.iloc[i,0]:
                #print(j,track.iloc[i,1],track.iloc[i,2])
                stra=str(j)+' '+str(track.iloc[i,1])+' '+str(track.iloc[i,2])+'\n'
                fa.write(stra)

In [258]:
#caloling the function for 4 track ids
get_track_details(dtrack[1])
get_track_details(dtrack[3])
get_track_details(dtrack[5])
get_track_details(dtrack[8])

In [259]:
#closing the file
fa.close()